.cardContainer {
background-color: transparent;
width: 40%;
display: block;
display: flex;  
flex-direction: column;
border: 3px solid rgb(98, 4, 98);
border-radius: 5px;
padding: 25px;
cursor: pointer;
font-size: 30px;
font-style: black;

}

/* .card-container :hover {
    
} */

 /* display flex: libertad dentro del contenedor*/

 img{
    height: 200px;
    width: 300px;
    object-fit: cover;
 }

 .card{
    border: 5px solid black;
    color: black;
    width: 310px;
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
 }

 .Link{
    color: black;
    text-decoration: none;
 }