*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.form{
      background-image: url(../../../public/images/CREATEACTIVITY/concepto-turismo-mundo-viajar-696x463.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      height: 100vh;
      width: 70%;
    
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }