@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap');

.textLanding{
  font-family: 'Black And White Picture', sans-serif;
  text-align: center; 
font-weight: bold; 
font-size: 80px; 
color:rgb(0, 10, 0); 
text-decoration: none;
}


.explore:hover{
 
  border: 5px solid #000;
  border-radius: 25px;
width: 400px;
background-color: #DFF7E8;
  border-color: black;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.landing{
      background-image: url(../../../public/images/LANDING/pexels-photo-14588277.jpeg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      height: 100vh;
      width: 100%;
    
      display: flex;
      justify-content: center;
      align-items: center;
    }
    