*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.landing{
      background-image: url(../../../public/images/LANDING/71ec66e1ef741a065171d37b1bab5cda.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      height: 100vh;
      width: 100%;
    
      display: flex;
      justify-content: center;
      align-items: center;
    }
    