@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap');

p{
  font-family: 'Black And White Picture', sans-serif;
  text-align: center; 
font-weight: bold; 
font-size: 100px; 
color:darkgreen; 
text-decoration: none;
}


.explore:hover{
 color:green;/* color de fuente hover */
  text-decoration: underline;
  border-color: black;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.landing{
      background-image: url(../../../public/images/LANDING/71ec66e1ef741a065171d37b1bab5cda.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      height: 100vh;
      width: 100%;
    
      display: flex;
      justify-content: center;
      align-items: center;
    }
    