@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.searchBox {
    /* display: flex;

 align-items: center;
    
    outline: none;
    padding: 10px;
    width: 150px;
    line-height: 30px;
    margin-bottom: 30px; */
    width: 150%;

  position: relative;
  display: flex;
  /* border: solid 3px; */
  justify-content: center;
  justify-items: center;
  right: 20%;
  padding: 20px;
 
}

.searchBox ::placeholder{
font-size: medium;
font-style: italic

}

.searchTerm{
  width: 150%;
  border: 3px solid rgb(98, 4, 98);
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  /* cursor:context-menu; */
}

.searchTerm:focus{
  color: black;
}

.searchButton{
  width: 180px;
  height: 40px;
  border: 1px solid rgb(98, 4, 98);
  background: rgb(98, 4, 98);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
 }

.buttonActivities{
  position: relative;
  left: 90px;
  width: 180px;
  text-decoration: underline;
  height: 40px;
  border: 1px solid rgb(98, 4, 98);
  background: rgb(98, 4, 98);
  text-align: center;
  color: #fff;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  font-size: 25px;
  font-style:normal;
  margin: 0 0 0 14px;
}